body {
    width: 100%;
    margin: 0;
}

.main {
    min-height: 800px;
    padding-bottom: 25px;
}

.dayMode {
    background-color: white;
    color: black;
}

.nightMode {
    background-color: black;
    color: white;
}

.serif {
    font-family: serif;
}

.sansSerif {
    font-family: sans-serif;
}

.mono {
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo, .moon {
    margin: 15px 20px;
    height: 40px;
}

.fontSelect {
    height: 30px;
    width: 100px;
    margin: 15px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
}

.nightMode .fontSelect {
    background-color: gray;
}

.separator {
    font-size: 25px;
    margin-top: 17px;
    color: #eeecec;
}

.controls {
    display: flex;
    flex-wrap: wrap;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin: 20px 0 0 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #A445ED;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.searchContainer {
    display: flex;
    justify-content: center;
}

.searchField, .searchButton {
    background-color: #eeecec;
    border: none;
    margin-top: 10px;
}

.searchField {
    width: 85%;
    height: 30px;
    padding: 7px 15px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px 0 0 10px;
}

.nightMode .searchField {
    background-color: gray;
}

.nightMode .searchButton {
    background-color: gray;
}

.searchButton {
    padding: 10px 15px;
    border-radius: 0 10px 10px 0;
}

.wordTitle {
    font-size: 35px;
    margin-left: 17px;
}

.phonetics {
    display: flex;
    justify-content: space-between;
    width: 98%;
}

.phoneticText {
    margin-left: 20px;
    font-size: 20px
}

.phoneticIcon {
    height: 65px;
    margin: 10px 0;
}

.typeTitleContainer {
    display: flex;
    align-items: center;
}

.typeTitle {
    font-size: 25px;
    margin: 30px;
    font-weight: bold;
}

.horizontalSeparator {
    width: 80%;
    height: 1px;
    color: #eeecec;
}

.subtitle {
    font-size: 19px;
    margin-left: 30px;
}

.synonymAntonym {
    color: #A445ED;
    font-weight: bold;
}

.meaningItem {
    font-size: 17px;
    margin-left: 30px;
}

.source, .sourceLink {
    font-size: 15px;
    padding: 15px;
}

.sourceLink {
    text-decoration: underline;
    color: inherit;
}

.errorContainer {
    text-align: center;
    margin-top: 130px;
}